# --- TypeScript / JavaScript (Node.js) ---
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Salida de compilación (si usas Webpack, esbuild o Babel)
dist/
build/
lib-dist/

# --- IDEs ---
.vscode/